!.gitignore
/ICONS/*
Addons/DiminishingReturns_Config/
Addons/DiminishingReturns/
Addons/DBM*/
Addons/MeetingStone/
Addons/IGAS/
Addons/Cube/
Addons/Healers-Have-To-Die/
Addons/HHTD/
Addons/RCLootCouncil*/
Addons/ExRT/
Addons/Simulationcraft/
Addons7.0/
Addons/_Deprecate/
Addons/GladiatorlosSA_zhCN/
Addons/GladiatorlosSA2/
Addons/tdBattlePetScript/
Addons/tdBattlePetScript_Rematch/
Addons/Rematch/
Addons/Gladius/
Addons/HPetBattleAny/
