!.gitignore
/ICONS/*
Addons/DiminishingReturns_Config/
Addons/DiminishingReturns/
Addons/Collector/
Addons/m_ActionBars/
Addons/DBM*/
Addons/MeetingStone/
Addons/autoturnin/
Addons/HandyNotes/
Addons/HandyNotes_LegionRaresTreasures/
